<html>
<head>
</head>
<body>
    <h1>ABOUT</h1>
    <a href="/main_page">back to home page</a>
    <p>This page is created and designed to show and learn things from the subject karate kyokushin.</p>
    <h3>What is karate kyokushin?</h3>
    <p>Kyokushin (極真)[a] is a style of karate originating in Japan. It is a full-contact style of stand-up fighting and is rooted in a philosophy of self-improvement, discipline, and hard training.</p>
    <p>Kyokushin Kaikan is the martial arts organization founded in 1964 by Korean-Japanese Masutatsu Oyama (大山倍達, Ōyama Masutatsu), officially the International Karate Organization. Previously, this institution was known as the Oyama Dojo. Since 1964, the style has continued to spread to more than 120 countries, becoming one of the largest martial arts organizations in the world, and in Japan itself.</p>
    <h5>Founding</h5>
    <p>Initially, Masutatsu Oyama opened his first official dōjō - the Oyama Dojo - in 1953, in a small building behind Rikkyo University to teach Goju-ryu style of traditional Karate. Subsequently, Oyama's Karate theory would deviate from Goju-ryu and would form his own style. His instruction was distinguished by goals improving the strength in the actual battle by performing a kumite that directly hits the opponent's body with a thrust or kick. This was unlike the other schools of Karate at the time.[10] Over the next ten years, Oyama built his organization and demonstrated his karate around the world to spread it.

Around 1956, Oyama would rename his school the "Oyama Dojo". In early days of the dojo, Oyama would not take the duty of teaching newer students. Instead, Eiji Yasuda [ja] (a Shotokan teacher from Gakushuin University Karatedo Club), Masashi Ishibashi, Ichiro Minamimoto (both Goju-ryu practitioners from Karatedo Club of Nihon University) and others would teach the newcomers to Oyama's dojo. Later, Kenji Kurosaki also became a teacher in the school.

On December 6, 1959, Hirofumi Okada [ja] was the first person to practice at the Oyama Dojo that was granted a black belt (first dan), and was listed as the first in the official yearly promotion register of the Kyokushin Kaikan.

In April 1964, Mas Oyama established the 'International Karate Organization Kyokushin kaikan' (commonly abbreviated to IKO or IKOK) under the umbrella of the Kyokushin Scholarship Foundation. Upon formation, Eisaku Sato acted as chairman and Matsuhei Mori as the vice chairman, with Oyama as the director (later president). Oyama directed the organization through a period of expansion.[13] In June of the same year, the headquarters dojo (later the general headquarters) was completed in Ikebukuro, Toshima, Tokyo.

Oyama hand-picked instructors who displayed ability in marketing the style and gaining new members. Oyama would choose an instructor to open a new dojo. The instructor would move to that town and demonstrate his karate skills in public places. After that, word of mouth would spread through the local area until the dojo had a dedicated core of students. Kyokushin sought to expand its presence with contact with other martial arts disciples, interaction with other groups, matches, assimilation of martial arts technique.

Oyama also sent instructors to other countries such as the Netherlands (Kenji Kurosaki), Australia (Mamoru Kaneko and Shigeo Kato), the United States (Miyuki Miura, Tadashi Nakamura, Shigeru Oyama and Yasuhiko Oyama), Great Britain Bob Boulton, later joined by (Steve Arneil), Canada (Tatsuji Nakamura) and Brazil (Seiji Isobe) to spread Kyokushin in the same way. Many students, including Steve Arneil, Jon Bluming, and Howard Collins, traveled to Japan to train with Oyama directly. Kyokushin also sought to develop a close connection with VIPs and celebrities, focusing on a mass media strategy to increase fans and gain students.[14]

In 1969, Oyama staged The First All-Japan Full Contact Karate Open Championships and Terutomo Yamazaki became the first champion. All-Japan Championships have been held at every year. In 1975, The First World Full Contact Karate Open Championships were held in Tokyo.[15]

Kyokushin Karate would develop notoriety as "Kenka Karate" or "Brawling Karate", a moniker Oyama disliked.[16]

At its peak, Oyama was alive in the 1990s, with branches set up in each prefecture, with more than 1,000 official branch dojos in 123 countries around the world, and a scale of 12 million members.</p>
</body>
</html>
