<html>
<head>
    <style>
        body {background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/kyokushin-karate-symbol-fighting-artist.jpg"); background-size: cover}
        h1 {color: red; text-align: center}
        form {text-align: center}
        p {text-align: center}
    </style>
</head>
<body>
    <h1>Give feedback to our website:</h1>
    <p>To go back <a href="/main_page">click here!</a></p>
    <form action="/feedback" method="POST">
        <input type="text" name="feedback" placeholder="Enter your feedback"><br>
        <input type="submit" value="submit"><br>
    </form>
<br>
    <p>To see all the feedbacks <a href="/display">click here</a></p>

</body>
</html>
