<html>
<head>
</head>
<body>
    <h1>Learn kata here:</h1>
    <p>To go back to the main page <a href="/main_page">click here!</a></p><br><br>
    <h3>Pinan Sono Ichi</h3>
    <p>To watch to video tutorial <a href="https://youtu.be/CFV6fhHpEcs">click here.</a></p>
    <ul>
        <li>On the command hajime from the yoi position turn left 90 degrees into left zenkutsu dachi blocking left gedan barai</li>
        <li>Step forward into right zenkutsu dachi punching right chudan oi tsuki.</li>
        <li>Move the back foot across and turn 180 degrees to the right into right zenkutsu dachi blocking right gedan barai.</li>
        <li>Slide the right foot back into neko ashi dachi , strike right tetsui kome kame.</li>
        <li>Move forward into left zenkutsu dachi and punch left chudan oi tsuki.</li>
        <li>Bring the left foot across 90 degrees to the left into left zenkutsu dachi and block left gedan barai</li>
        <li>Step forward into right zenkutsu dachi blocking right seiken jodan uke</li>
        <li>Step forward into left zenkutsu dachi blocking left seiken jodan uke</li>
        <li>Step forward into right zenkutsu dachi blocking right seiken jodan uke with kiai</li>
        <li>Slide the left foot across and turn through 270 degrees into left zenkutsu dachi blocking left gedan barai.</li>
        <li>Step forward into right zenkutsu dachi punching right seiken chudan oi tsuki</li>
        <li>Slide the right foot across and turn 180 degrees to the right into zenkutsu dachi blocking right gedan barai.</li>
        <li>Step forward into left zenkutsu dachi punching left seiken chudan oi tsuki</li>
        <li>Bring the left foot across 90 degrees to the left into left zenkutsu dachi and block left gedan barai</li>
        <li>Step forward into right zenkutsu dachi punching right seiken chudan oi tsuki</li>
        <li>Step forward into left zenkutsu dachi punching left seiken chudan oi tsuki</li>
        <li>Step forward into right zenkutsu dachi punching right seiken chudan oi tsuki with kiai</li>
        <li>Slide the left foot across and turn through 270 degrees into kokutso dachi with the left foot to the front. Block left shuto mawashi uke.</li>
        <li>Step forwards and at 45 degrees into kokutso dachi with the right foot to the front. Block right shuto mawashi uke.</li>
        <li>Bring your right foot around 135 degrees (180 degrees from the first kokutso dachi position) into right kokutso dachi and block right shuto mawashi uke</li>
        <li>Step forwards and at 45 degrees into kokutso dachi with the left foot to the front. Block left shuto mawashi uke</li>
        <li>On the naore command return to fudo dachi</li>
    </ul><br><br>

    <h3>Tsuki No Kata</h3>
    <p>To watch a toturial video <a href="https://youtu.be/6rOr84IIIJ0">click here.</a></p><br><br>

    <h3>Yantsu</h3>
    <p>To watch a tutorial video <a href="https://youtu.be/TYFP3vZK_jc">click here.</a></p>
</body>
</html>
