<html>
<head>
</head>
<body>
<h1>{{name}} welcome to my karate learning website!</h1>
<p>Choose what do you want to learn today:</p><br>
<form action="/main_page" method="POST">
    <input type="radio" id="kata" name="users_choice" value="kata">
    <label for="kata">Kata</label><br>
    <input type="radio" id="kumite" name="users_choice" value="kumite">
    <label for="kumite">Kumite</label><br>
    <input type="radio" name="users_choice" id="PE" value="PE">
    <label for="PE">Physical education</label><br>
    <input type="submit" value="submit">
</form>
<p>If you want to give feedback <a href="/feedback">click here</a></p>
<p>If you want to learn about this website <a href="/about">click here!</a></p>
<a href="/signout">signout</a>

</body>
</html>
