<html>
<head>
    <style>
        body {background-image: url("https://banner2.cleanpng.com/20181112/qzq/kisspng-kyokushin-karate-martial-arts-dojo-black-belt-oyama-d-5be9b37e2ee441.4329013115420424941921.jpg"); background-size: cover}
        h1 {color: red; text-align: center}
        form {text-align: center}
        p {text-align: center; color: blue}
    </style>
</head>
<body>
    <h1>SIGN IN</h1>
    <form action="/login" method="POST">
        <input type="text" name="password" placeholder="Enter your password"><br>
        <input type="text" name="email" placeholder="Enter your email"><br>
        <input type="submit" placeholder="submit"><br>
    </form>
    <p>If you don't have an acount then <a href="/">click here!</a></p>
</body>
</html>
